


<!-- Logo and subtitle text -->
<div class="container-fluid" id="logo" style="margin-top: 50px;">
    <div class="row align-bottom">
        <h1 class="col-lg-6" id="logo-title">Nox<span class="dot">.</span>io<span class="dot">.</span>us</h1>
        <div class="col-lg-6" id="logo-subtitle">
            <p class="lead">
                Exploring EPA data at a glance
            </p>
        </div>
    </div>
</div>

<% if flash[:new_event] == 1 %>

<!-- Modal template copied from https://v4-alpha.getbootstrap.com/components/modal/#live-demo -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Event created!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thank you for contributing to our database!
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script>
  $("#exampleModal").modal();
</script>

<% end %>

<div class="container-fluid">
    <div class="jumbotron">

        <br>

        <form id="event_fields">
          Year: <input type="text" id="release_year" value="2016" /><br>
          Clear Air Act Chemicals: <input type="checkbox" id="chemical_caa" checked="true" /><br>
        </form>
        <br>
        <button class="btn btn-lg btn-primary" onclick="dropPins()" style="margin-bottom: 20px;">Search</button>

        <br>
	
        <div style="color: #000;">
            <div id="map" style="width: 100%; height: 800px"></div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADv2Y8CtCt8vg9aFPz1BowUxXLYx6YFTo&callback=initMap"></script>
